$container-width: 940px;

//colors
$white: #fff;
$gray: #414141;
$orange: #e8603c;
$light-gray: #b9b9b9;

//layout
@import "layout/adjustment";
@import "layout/fonts";

//sections
@import "sections/header";
@import "sections/home";
@import "sections/about";
@import "sections/aside";
@import "sections/footer";
@import "sections/my-style";

//media
@import "media/tv";
@import "media/desktop";
@import "media/laptop";
@import "media/tablets";
@import "media/phones";