.blog {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

.blog__item {
	position: relative;
	margin-bottom: 50px;
}

.blog__block {
	position: absolute;
	left: -85px;
	width: 75px;
	height: 75px;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #e8603c;
}

.blog__block_themes {
	background-image: url('../img/icons/themes.png');
}

.blog__block_wallpaper {
	background-image: url('../img/icons/wallpaper.png');
}

.blog__block_play {
	background-image: url('../img/icons/play.png');
}

.blog__block_apologic {
	background-image: url('../img/icons/apologic.png');
}

.blog__block_link {
	background-image: url('../img/icons/link.png');
}

.blog-slider__wrapper {
	position: relative;
}

.blog-slider__arrow-prev,
.blog-slider__arrow-next {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	width: 35px;
	height: 50px;
	border: none;
	cursor: pointer;
	outline: none;
	z-index: 10;
	opacity: .7;
	transition: .3s;

	&:hover {
		opacity: 1;
	}
}

.blog-slider__arrow-prev {
	left: 20px;
	background: url('../img/icons/previous.png') center center no-repeat;
}

.blog-slider__arrow-next {
	right: 20px;
	background: url('../img/icons/next.png') center center no-repeat;
}

.blog-slider {
	height: 300px;
	width: 100%;
}

.blog-slider__item {
	height: 300px;
	width: 100%;
	overflow: hidden;
}

.blog-slider__img {
	height: 100%;
	width: 100%;
}

.blog__info {
	display: flex;
	margin: 20px 0 50px;
}

.blog__info-left {
	width: 21.64%;
}

.blog__info-item {
	margin-bottom: 10px;
	color: #bababa;
}

.blog__info-title {
	font-family: 'Bebas';
	color: $orange;
	margin-bottom: 3px;
}

.blog__info-tags {
	padding-right: 5px;
	border-right: 1px solid #bababa;

	&:last-child {
		border-right: none;
	}
}

.blog__info-right {
	width: 78.36%;
}

.blog__caption {
	font-family: 'Bebas';
	font-size: 18px;
	color: $orange;
	margin-bottom: 20px;
}

.blog__text {
	line-height: 18px;
}

.blog__border {
	height: 14px;
	background: url('../img/bg/Line.png') center center;
	background-size: cover;
}

.blog__wallpaper-pic {
	height: 300px;
	width: 100%;
	overflow: hidden;
}

.blog__wallpaper-img {
	height: 100%;
	width: 100%;
}

.blog__video-wrap {
	height: 300px;
	width: 100%;
}

.blog__video {
	height: 100%;
	width: 100%;
}

.blog__quotable-area {
	display: flex;
	width: 100%;
	padding: 20px 30px;
	background: url('../img/bg/quotable-area.png') center center;
	margin-bottom: 50px;
}

.blog__apologic-pic {
	height: 20px;
	width: 25px;
	background: url('../img/icons/apologic-orange.png') center center no-repeat;
	margin-right: 20px;
}

.blog__apologic-text {
	width: 100%;
	font-style: italic;
	font-size: 13px;
	line-height: 18px;
	color: #474747;

	p {
		margin: 0;
	}
}

.blog__caption_mn {
	margin-bottom: 5px;
}

.blog__email-link {
	font-style: normal;
	text-decoration: none;
	color: #a0a0a0;
}

.blog__some-text {
	margin: 20px 0 50px;
}

.blog__pages-list {
	display: flex;
	margin-bottom: 50px;
}

.blog__pages-item {
	height: 26px;
	width: 26px;
	background-color: #f3b29d;
	margin-right: 4px;
	transition: .3s;

	&:hover {
		background-color: #e8663c;
	}

	&:last-child {
		margin-right: 0;
	}
}

.blog__pages-item_active {
	background-color: #e8663c;
}

.blog__pages-link {
	display: flex;
	text-decoration: none;
	font-family: 'Bebas';
	color: $white;
	height: 100%;
}

.blog__page {
	margin: auto;
}