.contact {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

.map {
	margin-bottom: 35px;
	width: 100%;
	height: 400px;
}

.contact__info {
	display: flex;
	justify-content: space-between;
}

.contact__left {
	flex: 0 1 26.87%;
}

.contact__text {
	line-height: 14px;
	margin-bottom: 10px;

	p {
		margin: 0;
	}
}

.contact__address {
	font-style: normal;
	line-height: 14px;
	margin-bottom: 10px;
}

.contact__title {
	font-weight: 700;
	color: $orange;
}

.contact__address-text {
	font-weight: 500;
	margin-bottom: 10px;
}

.contact__link {
	text-decoration: none;
	display: block;
	color: $gray;
	font-weight: 500;
	transition: .3s;

	&:hover {
		text-decoration: underline;
	}
}
.contact__right {
	flex: 0 1 69.40%;
}

.form {
	margin-bottom: 40px;
}

.form__input {
	display: block;
	outline: none;
	border: 1px solid #e8603c;
	padding: 10px 13px;
	margin-bottom: 10px;
	width: 46.7%;
	font-size: 16px;
}

.form__message {
	width: 100%;
	height: 205px;
	resize: none;
}

.form__submit {
	font-family: 'Bebas';
	width: 67px;
	height: 31px;
	color: $white;
	background-color: #e8663c;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;

	&:hover {
		color: #000;
	}
}

.form__input::-webkit-input-placeholder {color:$orange; font-family: 'Bebas';}
.form__input::-moz-placeholder          {color:$orange; font-family: 'Bebas';}
.form__input:-moz-placeholder           {color:$orange; font-family: 'Bebas';}
.form__input:-ms-input-placeholder      {color:$orange; font-family: 'Bebas';}